@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

img {
  display: block;
  max-width: 100%;
  height: auto;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: normal;
  border-spacing: 0;
}

p {
  font-family: 'Varela Round', sans-serif;
}

@media all and (max-width: 600px) {
  .app {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media all and (min-width: 600px) {
  .app {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media all and (min-width: 1200px) {
  .app {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 2rem 5%;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;
    flex: 1 1 70%;
  }
}

@media all and (min-width: 1400px) {
  .app {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 5rem 9%;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;
    flex: 1 1 70%;
  }
}